# Base dependencies
pydantic
requests

# Frontend dependencies
dash>=3.0.4
dash-mantine-components>=2.0.0
plotly>=6.1.2

# Backend dependencies
fastapi
uvicorn[standard]

# Development dependencies
tox
black
isort
mypy
pylint
pylint-exit
pytest
pytest-mock
types-toml
types-requests
types-PyYAML